# Django
SECRET_KEY=django-insecure-zmien-mnie-na-produkcji-losowy-ciag-znakow
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Baza danych PostgreSQL
DB_NAME=newshub
DB_USER=newshub_user
DB_PASSWORD=newshub_pass
DATABASE_HOST=db
DB_PORT=5432

# Redis / Celery
REDIS_HOST=redis
REDIS_PORT=6379
